html {
  background-color: #edf0f1;
}

body, button, html, input, select, textarea {
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Helvetica, sans-serif;
  line-height: 20px;
}

.newitem-title-wrapper {
  margin: 4px 10px;
}

#todo-list-title-input {
  width: 100%;
  height: 22px;
  margin-bottom: 5px;
  border: none;
  box-shadow: none;
}

.list {
  background: #edf0f1;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  margin: 0 5px;
  margin-top: 10px;
  max-height: 100%;
  position: relative;
  width: 270px;
  max-width: 270px;
  cursor: pointer;
}

.list-title {
  position: relative;
  min-height: 19px;
  padding: 8px 34px 8px 10px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

#container-main {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
}